/* .button {
    background-color: #146EBE;
    color: #fff;
    height: 40px;
    padding: 0px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.button span {
    margin-right: 10px;
} */